body {
    padding: 0;
    /* display: flex; */
}

#main {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0000;
}

#search {
    display: flex;
    width: 200px;
    height: 100px;
    background-color: #00F000;
}

#search-genre {
    width: 100px;
    height: 100px;
    background-color: #FFFF00;
}

#search-title {
    width: 100px;
    height: 100px;
    background-color: #FF00FF;
}

#games {
    width: 100%;
    height: 200px;
    background-color: #770C70;
}