/* * {
    margin: 0 !important;
    padding: 0 !important; */
    /* font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: white;
    color: black; */
/* } */

html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(60, 52, 52);
}

/* canvas { */
    /* display: block; */
    /* margin: 0 auto; */
    /* background: #eee; */
    /* border-inline:1px solid black; */
/* } */

#game {
    /* height: 100vh; */
    /* display: inline; */
    
    background: black;
    /* position: relative; */
}
canvas {
    position: absolute;
}

#debug {
    top: 0;
    left: 0;
    position:absolute;
    padding: 5px;
    color: white;
    border: 1px solid white;
    background: black;
    z-index: 1;
}

img {
    display: none;
}
